<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463426607381-l4arh3gbusbduhoc32mm39h01mc91qc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463426607381-l4arh3gbusbduhoc32mm39h01mc91qc2</string>
	<key>API_KEY</key>
	<string>AIzaSyCrmW0RTZa-qRQrw7b52JUAyogr8rHarlI</string>
	<key>GCM_SENDER_ID</key>
	<string>463426607381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter</string>
	<key>PROJECT_ID</key>
	<string>try-app-a29be</string>
	<key>STORAGE_BUCKET</key>
	<string>try-app-a29be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463426607381:ios:a889df42e2c1a68b02f11c</string>
	<key>DATABASE_URL</key>
	<string>https://try-app-a29be.firebaseio.com</string>
</dict>
</plist>